header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0;
}

header h3 {
  font-size: 32px;
}

header h3 a {
  text-decoration: none;
}

nav {
  display: flex;
  list-style: none;
}

nav li {
  padding: 0 12px;
  border-right: 2px solid black;
}

nav li a {
  font-size: 21px;
}

a:visited {
  color: inherit;
}

nav li a:active {
  color: goldenrod;
}
